@font-face {
    font-family: 'F1-BOLD';
    src: url('./fonts/Formula1-Bold.otf')format('opentype');
}
@font-face {
    font-family: 'F1-REGULAR';
    src: url('./fonts/Formula1-Regular.otf')format('opentype');
}
@font-face {
    font-family: 'F1-WIDE';
    src: url('./fonts/Formula1-Wide.otf')format('opentype');
}
body{
    margin: 1vw ;
    padding: 1vw;
}
h1{
    font-family: 'F1-REGULAR';
    font-size: 2vw;
}
h2{
    font-family: 'F1-REGULAR';
}
h3{
    font-family: 'F1-REGULAR';
}
span {
    font-family: 'F1-REGULAR';
}
summary{
    font-family: 'F1-REGULAR';
}
label{
    font-family: 'F1-BOLD';
}
input {
    font-family: 'F1-REGULAR';
}
textarea{
    font-family: 'F1-REGULAR';
}
.customLink{
    text-decoration: none;
    color: inherit;
}
/* Modo Normal:

Rojo F1: #DC0000 - El rojo es un color icónico de la Fórmula 1 y puede usarse para resaltar elementos importantes en la página.
Blanco: #FFFFFF - El blanco se usa comúnmente como fondo para el contenido principal, lo que facilita la lectura del texto.
Negro: #000000 - El negro puede ser utilizado en el encabezado y el pie de página, proporcionando un aspecto elegante.
Plata Mercedes: #00D2BE - El color plata se asocia a menudo con la sofisticación y la tecnología avanzada, similar al equipo Mercedes.

Modo Oscuro:

Azul Nocturno: #1E1E2D - Un fondo azul oscuro puede ser agradable para la vista en modo oscuro y proporcionar un ambiente nocturno.
Amarillo Destacado: #FFD100 - El amarillo puede ser un color de contraste utilizado para resaltar elementos importantes en modo oscuro.
Gris Oscuro: #333333 - El gris oscuro puede usarse como fondo para ciertos elementos en modo oscuro y proporcionar contraste.
Verde Neón: #00FF48 - Un verde brillante y neón puede usarse para resaltar elementos específicos en modo oscuro, creando un aspecto llamativo. */