.darkBorder{
    border-right: 0.15vw #3232489a solid;
}
.normalBorder{
    border-right: 0.15vw #c7c7c7a7 solid;
}

.containerDiv{
    width: 100.1%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.containerDiv h2 {
    font-size: 2vw;
}