
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
.article{
    border-radius: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18vw;
    height: 26.5vw;
    
}
.article:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0vw 0vw 1vw 0.1vw #2c2c3d7f;
}
.headerOverlay{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.name {
    font-family: 'F1-BOLD';
    font-size: 1.25vw;
    min-height: 1.5vw;
    margin: 0.5vw 0vw;
    position:absolute;
    background-color: #dc0000;
    padding: 0.35vw 1vw;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    max-width: 17vw;
    overflow: hidden;
}
.darkGradient{
    transition: all 0.5s ease-in-out;
    background: linear-gradient(180deg, #1e1e2d 70%, rgba(43, 43, 61, 0.74) 100%);
    box-shadow: 0px 0px 40px 5px #2c2c3da5;
}
.normalGradient{
    transition: all 0.5s ease-in-out;
    background: linear-gradient(180deg, #ffffff 70%, rgba(203, 203, 203, 0.67) 100%);
    box-shadow: 0px 0px 40px 5px rgba(175, 175, 175, 0.531);
}
.img{
    margin: 0px;
    width: 18vw;
    height: 19vw;
    border-radius: 0.5vw;
    border-bottom: 0.5vw #dc0000 solid; 
    min-width: 18vw;
    min-height: 19vw;
}
.normalGradient .imgNoLoad{
    animation: pulse 2s infinite;
    background-color: rgba(175, 175, 175, 0.531);
}
.darkGradient .imgNoLoad {
    animation: pulse 2s infinite;
    background-color: #2c2c3da5;
}
.figure{
    padding: 0px;
    margin: 0px;
    margin-block: 0px;
    margin-inline: 0px;
}
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    overflow: hidden;
}
.teams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    margin-top: 0.2vw;
}
.escuderias{
    margin: 0.4vw 0vw;
    font-size: 0.9vw;
}
.teamName{
    padding: 0.15vw;
    font-size: 0.8vw;
}

@media screen and (max-width:768px) {
    .article{
        width: 30vw;
        height: 50vw;
    }
    .headerOverlay{
        margin: 0vw;
        padding: 0vw;
    }
    .name{
        font-size: 2vw;
        min-height: 1.5vw;
        max-height: 5vw;
        padding: 0.8vw 2vw;
        max-width: 26vw;
        text-align: center;
        margin-bottom: 1.3vw ;
        padding-bottom: 0.6vw;
    }
    .img{
        width: 30vw;
        height: 35vw;
    }
    .teams{
        margin-top: 0.5vw;
    }
    .escuderias{
        margin: 0.5vw 0vw;
        font-size: 1.8vw;
    }
    .teamName{
        padding: 0.3vw;
        font-size: 1.5vw;
    }
}