@keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
.article{
    border-radius: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18vw;
    height: 26.5vw;
    
}
.headerOverlay{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.name {
    margin: 0.5vw 0vw;
    position:absolute;
    background-color: #dc00008d;
    padding: 0.35vw 1vw;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    animation: pulse 2s infinite;
    width: 10vw;
    height: 1vw;
}
.darkGradient{
    transition: all 0.5s ease-in-out;
    background: linear-gradient(180deg, #1e1e2d 70%, rgba(43, 43, 61, 0.74) 100%);
    box-shadow: 0px 0px 40px 5px #2c2c3da5;
}
.normalGradient{
    transition: all 0.5s ease-in-out;
    background: linear-gradient(180deg, #ffffff 70%, rgba(203, 203, 203, 0.67) 100%);
    box-shadow: 0px 0px 40px 5px rgba(175, 175, 175, 0.531);
}
.normalGradient .img{
    margin: 0px;
    width: 18vw;
    height: 19vw;
    border-radius: 0.5vw;
    border-bottom: 0.5vw #dc00008d solid; 
    animation: pulse 2s infinite;
    background-color: rgb(163, 163, 163);
}
.darkGradient .img{
    margin: 0px;
    width: 18vw;
    height: 19vw;
    border-radius: 0.5vw;
    border-bottom: 0.5vw #dc00008d solid; 
    animation: pulse 2s infinite;
    background-color: #39394ca5;
}

.figure{
    padding: 0px;
    margin: 0px;
    margin-block: 0px;
    margin-inline: 0px;
}
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.teams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    animation: pulse 2s infinite;
}
.escuderias{
    margin: 0.7vw 0vw;
    font-size: 0.9vw;
    animation: pulse 2s infinite;
}
.darkGradient .teamName{
    padding: 0.15vw;
    margin: 0.35vw;
    border-radius: 0.5vw;
    width: 10vw;
    height: 0.2vw;
    animation: pulse 2s infinite;
    background-color: #39394ca5;
}
.normalGradient .teamName{
    padding: 0.15vw;
    margin: 0.35vw;
    border-radius: 0.5vw;
    width: 10vw;
    height: 0.2vw;
    animation: pulse 2s infinite;
    background-color: rgb(163, 163, 163);
}