.containerMain{
    display: flex;
    flex-direction: column;
    height: 180.274vh;
}

.containerNav {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.button{
    margin: 0vw 1vw;
    padding: 0.5vw;
    border: none;
    cursor: pointer;
    border-radius: 0.2vw;
    font-family: 'F1-REGULAR';
    font-size: 0.8vw;
    height: 4vh;
}