.containerGrid {
    display: grid;
    align-items: start;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
}
.darkBorder{
    border-top: 0.15vw #3232489a solid;
    border-bottom: 0.15vw #3232489a solid;
    border-right: 0.15vw #3232489a solid;
}
.normalBorder{
    border-top: 0.15vw #c7c7c7a7 solid;
    border-bottom: 0.15vw #c7c7c7a7 solid;
    border-right: 0.15vw #c7c7c7a7 solid;
}

.header {
    align-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 6vw;
    height: 8vw;
}
.title{
    align-self: center;
}

.containerMain{
    padding: 0.4vw 1vw;
}

@media screen and (max-width:768px) {
    .containerGrid{
        height: 12vw;
    }
}