.containerGrid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: repeat(3, 1fr) auto;
    gap: 1.5vw;
    justify-content: center;
    align-self: center;
}

.containerError {
    align-self: center;
    justify-self: center;
    height: 170vh;
}

