.icon{
    width: 2vw;
    height: 2vw;
}
.input {
    width: 20vw;
    height: 3vw;
    outline: none;
    border: none;
    border-radius: 0.5vw;
    font-size: 1vw;
}
.input:focus{
    box-shadow: 0 0 0.5vw 0.1vw #0000004e;
}
.label{
    display: flex;
    flex-direction: row;
    align-items: center;
}