.aside{
	margin-left: 1vw;
}
.aside h2{
	font-size: 2vw;
}
.summary {
	font-size: 1vw;
	margin-top: 0.5vw;
	cursor:pointer;
}
.inputContainer {
	display: flex;
	flex-direction: column;
	max-height: 300px;
	overflow-y: hide;
	justify-content: flex-start;
	padding-top: 0.5vw;
}
.inputContainerTeams {
	display: flex;
	flex-direction: column;
	max-height: 300px;
	overflow-y: scroll;
	justify-content: flex-start;
	padding-top: 0.5vw;
	align-items: flex-end;
	direction: rtl;
}
.inputContainerTeams::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0);
    width: 0.5vw;
}
.inputContainerTeams::-webkit-scrollbar-thumb {
	background-color: #000000b0;
    border-radius: 5px;
    height: 3vw;
}
@media screen and (max-width: 768px) {
	.aside h2{
		font-size: 2.8vw;
	}
	.summary{
		font-size: 2.2vw;
	}
	.inputContainerTeams{
		direction: ltr;
		align-items: flex-start;
	}
}