.container {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 5vh;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    height: 180.274vh;
}
.containerGrid{
    display: grid;
    align-items: start;
    grid-template-columns: 25% 75%;
    
}