.container {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.h3Driver{
    border: 0.2vw black solid;
    border-radius: 0.5vw;
}

.darkBorder{
    border-top: 0.15vw #3232489a solid;
    border-bottom: 0.15vw #3232489a solid;
}
.normalBorder{
    border-top: 0.15vw #c7c7c7a7 solid;
    border-bottom: 0.15vw #c7c7c7a7 solid;
}